*.bak
*.egg-info
*.o
*.pyc
*.so
**/vunit_out
.coverage
.devcontainer
.tox
.vscode
/build/
/dist/
/examples/vhdl/array_axis_vcs/src/test/data/out.csv
/tests/acceptance/*_out
/tests/unit/test_report_output.txt
/vunit/vhdl/check/test/tb_check_equal.vhd
/vunit/vhdl/check/test/tb_check_match.vhd
env/
error.csv
log.csv
my_logger.csv
OSVVM_transcript.yml
tests/acceptance/artificial/vhdl/modified_test_history/0
tests/acceptance/artificial/vhdl/modified_test_history/1
venv/
vunit_results
